<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
      <form name="myform" method="Post" action="/login" >
          <label>Username</label>
          <input id="username"  type="text" name="username"><br/>
    
          <label>Password</label>
          <input id="password" type="password" name="password"><br/>
          <br/><br/>
    
          <input type="submit" value="Login">
          <p id="errors">
            <%
              if(typeof error !== 'undefined'){
                %>
                  <%= error %>
                <%
              }
            %>
    
          </p>
        </form>  
</body>
</html>